FormsFrontend/Web References/bank/ClientBankService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="PayThatBill">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="accId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="payee" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PayThatBillResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PayThatBillSoapIn">
    <wsdl:part name="parameters" element="tns:PayThatBill" />
  </wsdl:message>
  <wsdl:message name="PayThatBillSoapOut">
    <wsdl:part name="parameters" element="tns:PayThatBillResponse" />
  </wsdl:message>
  <wsdl:portType name="ClientBankServiceSoap">
    <wsdl:operation name="PayThatBill">
      <wsdl:input message="tns:PayThatBillSoapIn" />
      <wsdl:output message="tns:PayThatBillSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ClientBankServiceSoap" type="tns:ClientBankServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PayThatBill">
      <soap:operation soapAction="http://tempuri.org/PayThatBill" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ClientBankServiceSoap12" type="tns:ClientBankServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PayThatBill">
      <soap12:operation soapAction="http://tempuri.org/PayThatBill" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClientBankService">
    <wsdl:port name="ClientBankServiceSoap" binding="tns:ClientBankServiceSoap">
      <soap:address location="https://localhost:44387/ClientBankService.asmx" />
    </wsdl:port>
    <wsdl:port name="ClientBankServiceSoap12" binding="tns:ClientBankServiceSoap12">
      <soap12:address location="https://localhost:44387/ClientBankService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>