FormsFrontend/Web References/bank/ClientBankService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="PayThatBill">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:float" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="payingUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="payingPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="payeeUserName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PayThatBillResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PayThatBillResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidLoginResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTransactions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accountUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accountPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTransactionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTransactionsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangeTransactionDescription">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accountUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accountPassword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="transactionId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="newDescription" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangeTransactionDescriptionResponse">
        <s:complexType />
      </s:element>
      <s:element name="RetrieveBalance">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accountUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accountPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveBalanceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RetrieveBalanceResult" nillable="true" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PayThatBillSoapIn">
    <wsdl:part name="parameters" element="tns:PayThatBill" />
  </wsdl:message>
  <wsdl:message name="PayThatBillSoapOut">
    <wsdl:part name="parameters" element="tns:PayThatBillResponse" />
  </wsdl:message>
  <wsdl:message name="ValidLoginSoapIn">
    <wsdl:part name="parameters" element="tns:ValidLogin" />
  </wsdl:message>
  <wsdl:message name="ValidLoginSoapOut">
    <wsdl:part name="parameters" element="tns:ValidLoginResponse" />
  </wsdl:message>
  <wsdl:message name="GetTransactionsSoapIn">
    <wsdl:part name="parameters" element="tns:GetTransactions" />
  </wsdl:message>
  <wsdl:message name="GetTransactionsSoapOut">
    <wsdl:part name="parameters" element="tns:GetTransactionsResponse" />
  </wsdl:message>
  <wsdl:message name="ChangeTransactionDescriptionSoapIn">
    <wsdl:part name="parameters" element="tns:ChangeTransactionDescription" />
  </wsdl:message>
  <wsdl:message name="ChangeTransactionDescriptionSoapOut">
    <wsdl:part name="parameters" element="tns:ChangeTransactionDescriptionResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveBalanceSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveBalance" />
  </wsdl:message>
  <wsdl:message name="RetrieveBalanceSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveBalanceResponse" />
  </wsdl:message>
  <wsdl:portType name="ClientBankServiceSoap">
    <wsdl:operation name="PayThatBill">
      <wsdl:input message="tns:PayThatBillSoapIn" />
      <wsdl:output message="tns:PayThatBillSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidLogin">
      <wsdl:input message="tns:ValidLoginSoapIn" />
      <wsdl:output message="tns:ValidLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTransactions">
      <wsdl:input message="tns:GetTransactionsSoapIn" />
      <wsdl:output message="tns:GetTransactionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangeTransactionDescription">
      <wsdl:input message="tns:ChangeTransactionDescriptionSoapIn" />
      <wsdl:output message="tns:ChangeTransactionDescriptionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveBalance">
      <wsdl:input message="tns:RetrieveBalanceSoapIn" />
      <wsdl:output message="tns:RetrieveBalanceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ClientBankServiceSoap" type="tns:ClientBankServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PayThatBill">
      <soap:operation soapAction="http://tempuri.org/PayThatBill" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidLogin">
      <soap:operation soapAction="http://tempuri.org/ValidLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransactions">
      <soap:operation soapAction="http://tempuri.org/GetTransactions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeTransactionDescription">
      <soap:operation soapAction="http://tempuri.org/ChangeTransactionDescription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveBalance">
      <soap:operation soapAction="http://tempuri.org/RetrieveBalance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ClientBankServiceSoap12" type="tns:ClientBankServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PayThatBill">
      <soap12:operation soapAction="http://tempuri.org/PayThatBill" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidLogin">
      <soap12:operation soapAction="http://tempuri.org/ValidLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransactions">
      <soap12:operation soapAction="http://tempuri.org/GetTransactions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeTransactionDescription">
      <soap12:operation soapAction="http://tempuri.org/ChangeTransactionDescription" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveBalance">
      <soap12:operation soapAction="http://tempuri.org/RetrieveBalance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClientBankService">
    <wsdl:port name="ClientBankServiceSoap" binding="tns:ClientBankServiceSoap">
      <soap:address location="https://localhost:44387/ClientBankService.asmx" />
    </wsdl:port>
    <wsdl:port name="ClientBankServiceSoap12" binding="tns:ClientBankServiceSoap12">
      <soap12:address location="https://localhost:44387/ClientBankService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>